.explorer {
  margin-top: 2rem;
  text-align: center;
  padding: 1rem;
  .explorer__h2 {
    font-size: 1.5rem;
    font-weight: 700;
  }
  
  .explorer__text {
    font-weight: 300;
    font-size: 1.12rem;
    padding-top: 1rem;
  }
}