@use"../utils/colors.scss";

footer {
  background-color: colors.$color-dark-grey;

  padding:2.5rem;
  @media (min-width:900px){
    display:flex;
   }
   justify-content: flex-end;
   gap:2rem;
   padding-right:5rem;
   
  h2 {
    font-family: "Shrikhand", cursive;
    font-weight:500;
    order:5;
    padding-top:1.5rem;

  }
  h2, p {
    color:white;
    padding:0.4rem 0 0.2rem 0.3rem;
  }
  i {
    padding-right :0.5rem;
  }
}

