@use "../utils/mixin";

header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
  font-size: 1.5rem;
  padding: 0.8rem;
  position: relative; /*fait réapparaître la box shadow sur le header*/
}



.header-menu {
  &:hover::before {
    @include mixin.animationHover($zoom:1.20, $transformation: translateY(-50%));
  }
  &::before{
  @include mixin.font-awesome($font-weight:900);
  content:"\f060";
  position:absolute;
  left:2rem;
  top:50%;
  transform: translateY(-50%);
  transition:transform 200ms ease-in-out;
 }
}