@use"../utils/colors.scss";

.loader {
  position:fixed; 
  background-color: rgb(249, 249, 249);
  height:100vh;
  inset:0;
  z-index:1;
  opacity:0.9;
  animation:transparent 200ms 3s both;
  transform-origin:top left;
  i {
    display:grid;
    place-items: center;
    animation:spin 3s;
  }

}

@keyframes transparent {
  from {
    transform:scale(1);
  }
  to {
    transform: scale(0); 
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}