@use "../utils/mixin.scss";
@use"../utils/colors.scss";
@use"../utils/variables.scss";



.tuto {
  counter-reset: steps;
  & ol {
    display:flex;//anticipé pour la version desktop//
    flex-direction: column;
    margin:1rem;
    gap:1rem;
    //espace entre element
    @media (min-width:900px) {
      flex-direction:row;
      justify-content: center;
      align-items: center;
      gap:3rem;
    }
  }
  & li {
    position:relative;
    &::before {
      content:counter(steps);
      counter-increment:steps;
      color: #fff;
      background-color:colors.$color-primary;
      width:2 * variables.$bullet-number-height;
      height:2 * variables.$bullet-number-height;
      display:grid;
      place-items:center;
      border-radius:50%;
      position:absolute;
      left:- 1 * variables.$bullet-number-height;
      bottom:variables.$bullet-number-height;
    }//intégrer les chiffres
    background-color: colors.$color-light-grey;
    padding: 0.5rem 1rem;
    border-radius: 1.25rem;
    @include mixin.box-shadow;
    &:hover {
      @include mixin.animationHover;
      cursor:pointer;
      background-color:#F5EDFF;
    }
    & i.fas {
      color: colors.$color-grey;
      padding:1rem;
    }
  }
}