@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 1rem;
  padding: 1rem;
}

.m-1rem {
  margin: 1rem;
}

h2,
h3 {
  font-weight: 500;
}

p {
  font-weight: 300;
}

.header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  font-size: 1.87rem;
  padding: 0.5rem;
  position: relative; /*fait réapparaître la box shadow sur le header*/
}

.location {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.location h2 {
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem;
}

.explorer {
  margin-top: 2rem;
  text-align: center;
  padding: 1rem;
}
.explorer .explorer__h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
.explorer .explorer__text {
  font-weight: 300;
  font-size: 1.12rem;
  padding-top: 1rem;
}

.tuto {
  counter-reset: steps;
}
.tuto ol {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  gap: 1rem;
}
@media (min-width: 900px) {
  .tuto ol {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
}
.tuto li {
  position: relative;
  background-color: #f7f7f7;
  padding: 0.5rem 1rem;
  border-radius: 1.25rem;
  box-shadow: 0.12rem 0.06rem 0.5rem -0.18rem rgba(0, 0, 0, 0.25);
}
.tuto li::before {
  content: counter(steps);
  counter-increment: steps;
  color: #fff;
  background-color: #9356DC;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  left: -1rem;
  bottom: 1rem;
}
.tuto li:hover {
  transform: scale(1.02);
  cursor: pointer;
  background-color: #F5EDFF;
}
.tuto li i.fas {
  color: #7e7e7e;
  padding: 1rem;
}

.restaurants {
  background-color: #f7f7f7;
}
.restaurants h2 {
  margin-bottom: 2rem;
}
.restaurants .restaurants__cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 900px) {
  .restaurants .restaurants__cards {
    flex-direction: row;
  }
}
.restaurants .card {
  box-shadow: 0.12rem 0.06rem 0.5rem -0.18rem rgba(0, 0, 0, 0.25);
  border-radius: 2rem;
  background-color: white;
  margin: 0 1rem;
}
.restaurants .card__img {
  background-size: cover;
  border-radius: 2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  height: 12rem;
  min-width: 20rem;
}
.restaurants .card__img1 {
  background-image: url("../../assets/restaurants/menu1.jpg");
}
.restaurants .card__img2 {
  background-image: url("../../assets/restaurants/menu2.jpg");
}
.restaurants .card__img3 {
  background-image: url("../../assets/restaurants/menu3.jpg");
}
.restaurants .card__img4 {
  background-image: url("../../assets/restaurants/menu4.jpg");
}
.restaurants .new {
  position: relative;
}
.restaurants .new::before {
  content: "Nouveau";
  display: grid;
  place-items: center;
  position: absolute;
  color: black;
  background-color: #99e2d0;
  border-radius: 0.12rem;
  width: 5rem;
  height: 2rem;
  right: 2rem;
  top: 1rem;
  box-shadow: 0.12rem 0.06rem 0.5rem -0.18rem rgba(0, 0, 0, 0.25);
}
.restaurants .card__description {
  position: relative;
}
.restaurants .card__description h3,
.restaurants .card__description p {
  margin: 0.5rem;
  padding: 0.3rem 0.5rem;
}
.restaurants .card__description i {
  font-size: 1.2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
.restaurants .card__description .fas {
  color: transparent;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms easy-in-out;
}
.restaurants .card__description:hover .fas {
  opacity: 1;
  transform: translateY(-50%) scale(1.3);
}

footer {
  background-color: #353535;
  margin-top: 3rem;
  padding: 1rem 2rem;
}
footer h2 {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
}
footer h2, footer p {
  color: white;
}
footer h2, footer p {
  padding: 0.3rem;
}

.button {
  margin-top: 1rem;
  color: white;
  border: none;
  border-radius: 2rem;
  padding: 1rem 1rem;
  font-weight: 500;
  font-size: 1rem;
  box-shadow: 0.12rem 0.06rem 0.5rem -0.18rem rgba(0, 0, 0, 0.25);
}

.button-gradient {
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
}
.button-gradient:hover {
  transform: scale(1.02);
  opacity: 0.7;
}

/*# sourceMappingURL=style.css.map */
