@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");

* {
  box-sizing: border-box;
}

/**, 
::before,
::after {
  box-sizing:border-box;
}* pourquoi mettre before et after */

.header-contain {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
  font-size: 1.87rem;
  padding: 0.5rem;
}
