@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");

*, 
::before,
::after {
  box-sizing:border-box;
}

body {
  font-family: "Roboto", sans-serif;
}


h2 {font-size: 1rem;
  font-weight: 500;
  padding: 1rem;
}
.m-1rem {
  margin:1rem;
}