$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary :#99e2d0;
$color-quaternary:#008766;
$color-light-grey:#f7f7f7;
$color-grey:#7e7e7e;
$linear-gradient:linear-gradient(
  to top,
  rgba(147, 86, 220, 0.9),
  rgba(255, 121, 218, 0.9)
  );
