@mixin gradient($opacity) {
  background-image:linear-gradient(
  to top,
  rgba(147, 86, 220, $opacity),
  rgba(255, 121, 218, $opacity)
  );

}
//pour les coeurs et compatibilité navigateur
@mixin gradient-heart($opacity) {
  @include gradient($opacity);
  background-clip:text;
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@mixin animationHover($zoom:1.02, $transformation:0%) {
  transform: $transformation scale($zoom);//sur le tuto 
  //rajouté pour faire grossir la flèche de retour,  transformation ne sert que pour faire translate la flèche qui se deplace sinon
}

@mixin base-button {
  margin-top: 1rem;
  color: white;
  border: none;
  border-radius: 2rem;
  padding: 1rem 2rem;
  font-weight: 500;
  font-size: 1rem;
  @include box-shadow;
  @include gradient(1);
}
@mixin box-shadow {
  box-shadow:0.12rem 0.06rem 0.5rem -0.18rem rgb(0 0 0 / 25%);
}  

@mixin font-awesome ($font-weight:400){
  position:absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering:auto;
  -webkit-font-smoothing: antialiased;
  font-family:"font Awesome\ 5 Free";
  font-weight:$font-weight;
}

@mixin heart ($opacity: 1 , $font-weight: 400, $color: inherit)
{
  @include font-awesome ($font-weight);
  content:"\f004";
  font-size:1.2rem;
  right:1rem;
  top:50%;
  transform: translateY(-50%);
  color:$color;
  background-clip:text;
  opacity:$opacity;
  transition:all 200ms ease-in-out;

}


@mixin heart-animated {
  position:relative; 
         &::before {
          @include heart;
         }
        &::after {
          @include heart ($opacity:0, $font-weight:900, $color: transparent);
          //gère l'apparition de la couleur sur le coeur
          @include gradient-heart(1);
        }
        &:hover::after {
          opacity: 1;
          transform:translateY(-50%) scale(1.2);
        }
       }